.fancybox-content {
  padding: 0;
  background-color: $tr;
}

.fancybox-close-small {
  padding: 0 !important;
  width: 24px;
  height: 24px;
  color: $white !important;
  opacity: 1;

  &:hover {
    color: $dark !important;
  }
}