.mdc-slider {
  margin: 0;
  
  .mdc-slider__track {
    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 1px;
      height: 13px;
      background-color: #7B7B7B;
      top: -6.5px;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }

    &--inactive {
      height: 1px;
      background-color: #7B7B7B;
      border-radius: 0;
      opacity: 1;
    }

    &--active {
      height: 4px;

      &_fill {
        background-color: $dark;
        border-color: $dark;
      }
    }
  }

  .mdc-slider__thumb {
    &-knob {
      width: 15px;
      height: 15px;
      background-color: $dark;
      border-color: $dark;
      margin-top: -1px;
    }

    &::before,
    &::after {
      background-color: $dark;
    }
  }

  .mdc-slider__value {
    &-indicator {
      height: 14px;
      background-color: $tr;
      transform: scale(1);
      opacity: 1;

      &-text {
        font-family: $font-mBold;
        font-size: 0.8rem;
        color: $dark;
      }

      &::before {
        border: none;
        width: 1px;
        height: 7px;
        bottom: -6px;
        background-color: $dark;
      }

      &::after {
        display: none;
      }
    }
  }
}