<div class="coach">
    <button class="coach-like">
        <span class="coach-like__in">
            <svg width="14" height="14">
                <use xlink:href="#like"></use>
            </svg>
            <span class="coach-like__value">4</span>
        </span>
    </button>
    <div class="coach-picture" style="background-image: url('{{root}}assets/img/coach.jpg');"></div>
    <a href="#" class="color-brown font-xmedium font-mMed mb-2 hoverOpacity">Фамилия Имя тренера</a>
    <p>Фитнес-менеджер клуба, мастер-тренер групповых программ</p>
    <button class="button button--pink" data-src="#popup--call" data-fancybox>Записать тренинг</button>
</div>