<header class="header">
    <div class="header__top">
        <div class="container">
            Правила безопасности в клубе. <a href="#" class="header__top-link">Подробнее</a>
        </div>
    </div>
    <div class="header__middle d-none d-xl-block">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="header__control-wrapper mr-md-3 mr-xl-4">
                        <button class="header__control header__middle-link d-flex align-items-center">
                            <span class="mr-2">Екатеринбург</span>
                            <svg class="header__control-icon" width="12" height="6px">
                                <use xlink:href="#chevron"></use>
                            </svg>
                        </button>
                        <div class="header__control-list">
                            <button class="header__control-item hoverOpacity">Самара</button>
                            <button class="header__control-item hoverOpacity">Москва</button>
                            <button class="header__control-item hoverOpacity">Санкт-Петербург</button>
                        </div>
                    </div>
                    <div class="header__control-wrapper mr-md-3 mr-xl-4">
                        <button class="header__control header__middle-link d-flex align-items-center">
                            <span class="mr-2">Клуб не выбран</span>
                            <svg class="header__control-icon" width="12" height="6px">
                                <use xlink:href="#chevron"></use>
                            </svg>
                        </button>
                        <div class="header__control-list">
                            <button class="header__control-item hoverOpacity">Клуб 1</button>
                            <button class="header__control-item hoverOpacity">Клуб 2</button>
                            <button class="header__control-item hoverOpacity">Клуб 3</button>
                        </div>
                    </div>
                    <a class="font-sBold header__middle-link mr-md-3 mr-xl-4" href="tel:73433170742">+7 (343) 317-07-42</a>
                    <button class="font-sBold header__middle-link hoverOpacity" data-fancybox data-src="#popup--call">Написать нам</button>
                </div>

                <div class="d-flex align-items-center">
                    <a class="font-sBold header__middle-link mr-md-3 mr-xl-4" href="#">Расписание</a>
                    <a class="font-sBold header__middle-link" href="#">Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <a class="mr-md-3 mr-xl-5 header__logo" href="#">
                        <img class="header__logo-picture" src="{{root}}assets/img/logo.png" alt="Logo">
                    </a>
                    <div class="header__nav d-none d-xl-flex align-items-center">
                        <a class="header__nav-link font-sBold" href="#">Услуги</a>
                        <a class="header__nav-link font-sBold" href="#">О клубе</a>
                        <a class="header__nav-link font-sBold" href="#">Расписание</a>
                        <a class="header__nav-link font-sBold" href="#">Тренеры</a>
                        <a class="header__nav-link font-sBold" href="#">Клубные карты</a>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <button class="button header__button mr-3 mr-md-4 mr-xl-0" data-fancybox data-src="#popup--price">Узнать стоимость</button>

                    <button class="burger js-menu d-xl-none">
                        <span class="burger__in">
                            <span class="burger__line burger__line--1"></span>
                            <span class="burger__line burger__line--2"></span>
                            <span class="burger__line burger__line--3"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <menu class="menu d-xl-none">
        <div class="menu__in">
            <nav class="header__nav d-flex flex-column align-items-start mb-4">
                <a class="header__nav-link font-sBold" href="#">Услуги</a>
                <a class="header__nav-link font-sBold" href="#">О клубе</a>
                <a class="header__nav-link font-sBold" href="#">Расписание</a>
                <a class="header__nav-link font-sBold" href="#">Тренеры</a>
                <a class="header__nav-link font-sBold" href="#">Клубные карты</a>
            </nav>

            <a class="color-darkGray mb-3" href="#">Личный кабинет</a>
            <a class="color-darkGray" href="#">Написать нам</a>
        </div>
    </menu>
</header>